<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">About Us</h1>
        <button class="button button-icon button-clear" ng-click="closeAboutModal()"><i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div>
            <div class="text-center">
                <img class="logo-main" ng-src="img/login/logo.png" />
            </div>
            <div class="item item-text-wrap text-center">
                <strong>About Us</strong>
            </div>
            <div class="item item-text-wrap">
                Brewfer is an Indian company dedicated to providing the best possible discounts and offers available across all restaurants in India. It features offers across more than 50,000 restaurants in the country. Brewfer is a solely owned subsidary of Alliances Galore Pvt Ltd. Alliances Galore is India's number one company in terms of garnering offers across all major banks in India. The company has been in existence for 7 years and has offices in more than 6 cities across the country.
            </div>
        </div>
    </ion-content>
</ion-modal-view>