<div class="ion-autocomplete-container {{viewModel.randomCssClass}} modal" style="display: none;">
    <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" class="ion-autocomplete-search" ng-model="viewModel.searchQuery" placeholder="{{viewModel.placeholder}}"
               ng-enter="viewModel.searchFactory.formData.searchString=viewModel.searchQuery;
               viewModel.cancelClick();"/>
        </label>
    <div class="ion-autocomplete-loading-icon" ng-if="viewModel.showLoadingIcon && viewModel.loadingIcon"><ion-spinner icon="{{viewModel.loadingIcon}}"></ion-spinner></div>
    <button class="ion-autocomplete-cancel button button-clear" ng-click="viewModel.cancelClick()">{{viewModel.cancelLabel}}</button>
    </div>
    <ion-content class="has-header">
    <ion-item class="item-divider ng-hide" ng-show="viewModel.selectedItems.length > 0">{{viewModel.selectedItemsLabel}}</ion-item>
    <ion-item ng-repeat="selectedItem in viewModel.selectedItems track by $index" class="item-icon-left item-icon-right">
        <i class="icon ion-checkmark"></i>
        {{viewModel.getItemValue(selectedItem, viewModel.itemViewValueKey)}}
        <i class="icon ion-trash-a" style="cursor:pointer" ng-click="viewModel.removeItem($index)"></i>
        </ion-item>
    <ion-item class="item-divider ng-hide" ng-show="viewModel.searchItems.length > 0">{{viewModel.selectItemsLabel}}</ion-item>
    <ion-item collection-repeat="item in viewModel.searchItems" item-height="70" item-width="100%" type="item-text-wrap" ng-click="viewModel.selectItem(item)">
        {{viewModel.getItemValue(item, viewModel.itemViewValueKey)}}
        <div class="autocomplete-area">{{viewModel.getItemValue(item, 'area')}}</div>
        </ion-item>
    </ion-content>
</div>