<ion-list>
    <ion-item ng-repeat="item in callListData"  ng-click="callClient({{item}})" >
        <span class="item-icon-left item-text-wrap">{{item}}<i class="icon ion-ios-telephone"></i></span>
    </ion-item>
</ion-list>