<ion-view view-title="City List">
    <ion-content class="has-header" has-bouncing="false">
        <!-- <div>
            <ion-item ng-repeat="data in cityData" ng-click="setCity(data.cyname,data.state.stname)">
                {{data.cyname}}
            </ion-item>
        </div> -->
        <ion-list>
	        <div ng-repeat="country in cityData">
	          <ion-item class="item-stable"
	                    ng-click="toggleGroup(country)"
	                    ng-class="{active: isGroupShown(country)}">
	              <i class="icon" ng-class="isGroupShown(country) ? 'ion-minus' : 'ion-plus'"></i>
	            &nbsp;
	            {{::country.cntname}}
	          </ion-item>
	          <ion-item class="ng-hide item-accordion"
	                    ng-repeat="cityData in country.city"
	                    ng-show="isGroupShown(country)"
	                    ng-click="setCity(cityData.cyname,cityData.state.stname,cityData.cyid)">
	            {{::cityData.cyname}}
	          </ion-item>
	        </div>
      </ion-list>
    </ion-content>
</ion-view>