<ion-view view-title="Restaurant Profile" ng-show="clientLoaded" class="ng-hide">

    <ion-tabs class="tabs-dark tabs-icon-left">

        <ion-tab title="Profile" icon-on="ion-ios-wineglass" icon-off="ion-ios-wineglass-outline">
            <ion-view>
                    <ion-content has-bouncing="false">
                    <!-- Banner Image Box -->
                    <div style="background:radial-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) no-repeat, url('{{bannerImage}}');background-size:100% auto;position:relative;width:100%;height: 250px">
                    <div class="banner-text">
                            <div class="padding-horizontal">
                                <rating ng-model="rating.rate" class="inline" max="rating.max" ng-click="changeRating()"></rating>
                            </div>
                            <span class="banner-title">{{::clientData.Restaurant_Name}}</span>

                            <div class="banner-subtitle">{{::clientData.area}}</div>
                            <div class="padding">
                                <span class="light padding-5 border-curved margin-3 ng-hide" ng-show="clientData.avgRating" ng-class="clientData.avgRating <= 2 ? 'assertive-bg' : (clientData.avgRating <= 3.5 ? 'energized-bg' : 'balanced-bg')">
                                <i class="ion-speedometer"></i>
                                {{::clientData.avgRating | number:1}}</span>
                                <span ng-show="clientData.openStatus" ng-click="openTimingModal()"><span
                                        class="light padding-5 border-curved margin-3"
                                        ng-class="clientData.openStatus == 'Open' ? 'balanced-bg' : 'assertive-bg'">
                                <i class="ion-android-restaurant"></i> {{::clientData.openStatus}} <i class="ion-chevron-right"></i></span>
                                </span>
                                <div class="banner-subtitle padding" ng-if="clientData.openLater">
                                    {{::clientData.openLater}} to Open
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-bar bar-dark dark-bg">
                        <button class="button button-small icon-top" ng-click="openContactModal()"><i class="icon ion-android-textsms energized"></i> SMS
                        </button>
                        <button class="button button-small icon-top" ng-if="clientData.contact != '' && clientData.contact != undefined" ng-click="showCallList()"><i class="icon balanced ion-android-call"></i> Call
                        </button>
                        <button class="button button-small icon-top" ng-if="clientData.contact != '' && clientData.contact != undefined"  ng-click="addContact()"><i class="icon ion-android-person-add positive"></i> Save
                        </button>
                        <button class="button button-small icon-top" ng-click="markFav()"><i class="icon assertive" ng-class="clientData.isFavourite ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></i> Favourite
                        </button>
                    </div>
                    <!-- End of Banner Image Box -->
                    <div class="padding-horizontal">
                        <div class="list card">
                            <div class="item item-divider">
                                Address
                            </div>
                            <span class="item item-icon-left item-text-wrap" ng-show="clientData.address">
                                <i class="icon ion-location"></i>
                                {{::clientData.address }}
                            </span>
                            <div id="map_canvas" ng-click="openNavigate()" ng-if="map.center.latitude != undefined && map.center.longitude != undefined">
                                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
                                    <ui-gmap-marker coords="map.marker.center" idKey="map.marker.idKey">
                                    </ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div>

                        <div class="list card" ng-if="clientData.discounts">
                            <div class="item item-divider">
                                Offer Platform
                            </div>
                            <span class="item item-text-wrap">
                                <div ng-repeat="discount in clientData.discounts" class="padding row row-center">
                                    <div class="col">
                                        <span class="bank text-small"><i class="ion-pricetag"></i>&nbsp;{{ ::discount.bank.bank }}</span>
                                    </div>
                                    <div class="col">
                                        <p><strong>{{ ::discount.discount }}</strong></p>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="list card" ng-if="clientData.cost">
                            <div class="item item-divider">
                                Cost for Two
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon">&nbsp;₹</i>
                                {{::clientData.cost}}
                            </span>
                        </div>

                        <div class="list card" ng-if="clientData.cuisine">
                            <div class="item item-divider">
                                Cuisines
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon ion-fork"></i>
                                {{::clientData.cuisine }}
                            </span>
                        </div>

                        <div class="list card">
                            <div class="item item-divider">
                                Facilities
                            </div>
                            <span class="item text-center item-text-wrap">
                                <i class="margin-3 ion-thermometer ng-hide" ng-show="clientData.aircond == 1"> A/C</i>
                                <i class="margin-3 ion-android-home ng-hide" ng-show="clientData.hd == 1"> Home Delivery</i>
                                <i class="margin-3 ion-android-restaurant ng-hide" ng-show="clientData.dinein == 1"> Dine In</i>
                                <i class="margin-3 ion-leaf ng-hide" ng-show="clientData.svegnn == 1"> Veg Only</i>
                                <i class="margin-3 ion-wineglass ng-hide" ng-show="clientData.bar == 1"> Bar</i>
                            </span>
                        </div>
                        <div class="list card" ng-show="clientData.contact">
                            <div class="item item-divider">
                                Contact
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon ion-ios-telephone"></i>
                                 {{::clientData.contact }}
                            </span>
                        </div>

                        <div class="list card" ng-show="clientData.payment">
                            <div class="item item-divider">
                                Payment Methods
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon ion-cash"></i>
                                 {{::clientData.payment}}
                            </span>
                        </div>


                        <div class="list card" ng-show="clientData.knownfor">
                            <div class="item item-divider">
                                Known For
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon ion-pizza"></i>
                                 {{::clientData.knownfor}}
                            </span>
                        </div>

                        <div class="list card" ng-show="clientData.order_sugest">
                            <div class="item item-divider">
                                Recommendations
                            </div>
                            <span class="item item-icon-left item-text-wrap">
                                <i class="icon ion-ribbon-b"></i>
                                 {{::clientData.order_sugest}}
                            </span>
                        </div>
                    </div>
                    </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Reviews" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
            <ion-view>
                <ion-content class="has-header" has-bouncing="false">
                    <!-- Small Banner for Reviews -->
                    <div class="banner-box-small">
                        <img src="{{bannerImage}}" class="banner-image-blurred-small" />
                        <div class="banner-text">
                            <span class="banner-title">{{::clientData.Restaurant_Name}}</span>
                            <div class="banner-subtitle">{{::clientData.area}}</div>
                        </div>
                    </div>
                    <!-- End Small Banner for Reviews -->

                    <!-- Editing Section -->

                    <div class="ng-hide" ng-show="editReview">
                        <div class="padding">
                            <label class="item item-input">
                                <textarea rows="4" placeholder="Enter Review" ng-model="myReview.review" ng-minlength=10 ng-maxlength=500 required></textarea>
                            </label>
                            <div class="padding text-center">
                                <i class="item item-inline width-45 item-dark" ng-click="putReview()">
                                    <i class="ion-edit"></i> Edit
                                </i>
                                <i class="item item-inline width-45 item-dark" ng-click="toggleEdit()">
                                    <i class="ion-android-cancel"></i> Cancel
                                </i>
                            </div>
                        </div>
                    </div>

                    <!-- Non Editing Section -->
                    <div class="ng-hide" ng-show="!hasReview">
                        <div class="padding">
                            <label class="item item-input">
                                <textarea rows="4" placeholder="Enter Review" ng-model="formData.txtReview"></textarea>
                            </label>
                        </div>
                        <div class="text-center padding">
                            <i class="item item-inline padding item-dark width-45" ng-click="putReview()">
                                <i class="ion-chatbox"></i> Post Review
                            </i>
                        </div>
                    </div>
                    <div class="list ng-hide" ng-show="hasReview && !editReview">
                        <div class="item item-avatar item-text-wrap">
                            <img src="img/common/no-pic.jpg">
                            <a ng-href="#/app/review/{{myReview.rid}}">
                                <h2>Your Review</h2>

                                <p>{{myReview.review}}</p>
                            </a>
                            <i class="item item-inline padding">
                                <i class="ion-heart"></i> {{myReview.likes.length}}
                            </i>
                            <i class="item item-inline item-dark padding" ng-click="toggleEdit()">
                                <i class="ion-edit"></i>
                            </i>
                            <i class="item item-inline item-assertive padding" ng-click="deleteReview()">
                                <i class="ion-android-delete"></i>
                            </i>
                        </div>
                    </div>
                    <div class="status-message ng-hide" ng-show="myReview.status==0">{{notApprovedReviewStatus}}</div>
                    <div class="status-message">{{reviewStatus}}</div>
                    <div class="item item-divider">
                        Reviews
                    </div>
                    <div class="list">
                        <div ng-repeat="data in clientData.review" class="ng-hide" ng-show="data.status">
                            <div class="item item-avatar item-text-wrap">
                                <img ng-src="{{data.user.uimg || 'img/common/no-pic.jpg'}}">
                                <a ng-href="#/app/review/{{data.rid}}">
                                    <h2>{{data.user.name}}</h2>

                                    <p>{{data.review}}</p>
                                </a>
                                <span class="item item-inline item-light" ng-click="toggleLike(data)">
                                    <span class="ion-thumbsup"></span> {{data.likeStatus}}
                                </span>
                                <span class="item item-inline item-light">
                                    <span class="ion-heart"></span> {{data.likeCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Menus & Photos" icon-on="ion-ios-photos" icon-off="ion-ios-photos-outline">
            <ion-view>
                <ion-content class="has-header" has-bouncing="false">
                    <!-- Small Banner for Photos -->
                    <div class="banner-box-small">
                        <img src="{{::bannerImage}}" class="banner-image-blurred-small" />
                        <div class="banner-text">
                            <span class="banner-title">{{::clientData.Restaurant_Name}}</span>
                            <div class="banner-subtitle">{{::clientData.area}}</div>
                        </div>
                    </div>
                    <!-- End Small Banner for Photos  -->

                    <div ng-show="clientData.menus.length == 0 && clientData.photos.length == 0" class="padding ng-hide text-center">
                        {{::menuStatus}}
                    </div>

                    <div ng-show="clientData.menus.length > 0" class="ng-hide">
                        <div class="item item-divider">
                            Menus
                        </div>
                        <div class="row" ng-repeat="menu in clientData.menus" ng-if="$index % 3 === 0">
                            <div class="col col-33" ng-if="$index < clientData.menus.length">
                                <img ng-src="{{::menuPrefix}}{{::clientData.menus[$index].image}}" class="grid-image" ng-click="goToMenuSlide($index)" />
                            </div>
                            <div class="col col-33" ng-if="$index + 1 < clientData.menus.length">
                                <img ng-src="{{::menuPrefix}}{{::clientData.menus[$index + 1].image}}" class="grid-image" ng-click="goToMenuSlide($index + 1)" />
                            </div>
                            <div class="col col-33" ng-if="$index + 2 < clientData.menus.length">
                                <img ng-src="{{::menuPrefix}}{{::clientData.menus[$index + 2].image}}" class="grid-image" ng-click="goToMenuSlide($index + 2)" />
                            </div>
                        </div>

                    </div>

                    <div class="ng-hide" ng-show="clientData.photos.length > 0">
                        <div class="item item-divider">
                            Photos
                        </div>
                        <div class="row" ng-repeat="photo in clientData.photos" ng-if="$index % 3 === 0">
                            <div class="col col-33" ng-if="$index < clientData.photos.length">
                                <img ng-src="{{photoPrefix}}{{clientData.photos[$index].image}}" class="grid-image" ng-click="goToPhotoSlide($index)" />
                            </div>
                            <div class="col col-33" ng-if="$index + 1 < clientData.photos.length">
                                <img ng-src="{{photoPrefix}}{{clientData.photos[$index + 1].image}}" class="grid-image" ng-click="goToPhotoSlide($index + 1)" />
                            </div>
                            <div class="col col-33" ng-if="$index + 2 < clientData.photos.length">
                                <img ng-src="{{photoPrefix}}{{clientData.photos[$index + 2].image}}" class="grid-image" ng-click="goToPhotoSlide($index + 2)" />
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>

<!-- SMS Modal -->

<script id="contact-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar class="bar bar-dark">
            <h1 class="title">SMS Location</h1>
            <button class="button button-icon button-clear" ng-click="closeContactModal()"><i class="ion-close"></i>
            </button>
        </ion-header-bar>
        <ion-content has-bouncing="false">
            <div class="list">
                <div class="item item-text-wrap">
                    <p>Enter your mobile number and we'll send you the details of this outlet.</p>
                </div>
                <label class="item item-input">
                    <input type="tel" placeholder="Mobile Number" ng-model="sms.mobileNumber" maxlength="10">
                </label>
            </div>
            <div class="padding">
                <button class="button button-full button-dark" ng-click="sendMessage()">Send</button>
            </div>
        </ion-content>
    </div>
</script>


<!-- Timings Modal -->

<script id="timing-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar class="bar bar-dark">
            <h1 class="title">Timings</h1>
            <button class="button button-icon button-clear" ng-click="closeTimingModal()"><i class="ion-close"></i>
            </button>
        </ion-header-bar>
        <ion-content has-bouncing="false">
            <div class="list">
                <div class="item item-text-wrap" ng-repeat="key in notSorted(clientData.timings)" ng-init="value = clientData.timings[key]">
                    <b>{{key}}</b>: {{value}}
                </div>
            </div>
        </ion-content>
    </div>
</script>

<script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closePhotosModal()">
        <ion-slide-box show-pager="false" delegate-handle="photos">
            <ion-slide ng-repeat="photo in clientData.photos">
                <img ng-src="{{photoPrefix}}{{photo.image}}" class="fullscreen-image" />
            </ion-slide>
        </ion-slide-box>
    </div>
</script>

<script id="menu-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeMenusModal()">
        <ion-slide-box show-pager="false" delegate-handle="menus">
            <ion-slide ng-repeat="menu in clientData.menus">
                <img ng-src="{{menuPrefix}}{{menu.image}}" class="fullscreen-image" />
            </ion-slide>
        </ion-slide-box>
    </div>
</script>