<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Favourites</h1>
        <button class="button button-icon button-clear" ng-click="closeFavouriteModal()"><i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="ng-hide" ng-show="favouriteData.length == 0">
            <div class="status-message">{{favouriteStatus}}</div>
        </div>
        <div>
            <ion-item ng-repeat="data in favouriteData" ng-click="closeFavouriteModal()" href="#/app/client/{{data.client.clid}}">
                <span>{{data.client.Restaurant_Name}}</span>
            </ion-item>
        </div>
    </ion-content>
</ion-modal-view>