<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Feedback</h1>
        <button class="button button-icon button-clear" ng-click="closeFeedbackModal()"><i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false" class="login-background">
        <div class="container">
            <div class="panel-light">
                <div class="text-center margin-horizontal-auto">
                    <img class="logo-main" ng-src="img/login/logo.png" />
                </div>

                <div class="list">
                    <label class="item item-input rounded-corners">
                        <input type="text" ng-model="formData.feedbacktitle" placeholder="Title" required>
                    </label>
                    <label class="item item-input margin-vertical-10 rounded-corners">
                        <textarea ng-model="formData.message" placeholder="Message" rows="5" required/>
                    </label>

                    <div class="padding">
                        <button class="button button-block button-dark rounded-corners" ng-click="feedback()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>