<ion-view view-title="Filters">
    <ion-content class="ng-hide" ng-show="filtersLoaded" has-bouncing="false">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchFactory.formData.searchString">
            </label>
            <button class="button button-clear" ng-click="searchFactory.formData.searchString = ''">
                Clear
            </button>
        </div>
        <div class="item item-divider">
            Sort By
        </div>
        <div class="row text-center">
            <div class="col" ng-class="{'assertive':getFlagOrSortCSS('sort','cost')}"
                 ng-click="toggleFlagOrSort('sort', 'cost', false)">
                <i class="icon-medium"> ₹</i>
                <div>
                    Cost
                </div>
            </div>
            <div class="col" ng-class="{'assertive':getFlagOrSortCSS('sort','avgRating')}"
                 ng-click="toggleFlagOrSort('sort', 'avgRating', false)">
                <i class="ion-star icon-medium"></i>
                <div>
                    Rating
                </div>
            </div>
            <div class="col assertive ng-hide" ng-show="showOrder"
                 ng-click="toggleFlagOrSort('order', 'toggle', false)">
                <i ng-class="{ 'ion-arrow-down-a':(sortOrder=='Descending') }" class=" icon-medium ng-hide" ng-show="sortOrder=='Descending'"></i>
                <i ng-class="{ 'ion-arrow-up-a':(sortOrder=='Ascending') }" class=" icon-medium ng-hide" ng-show="sortOrder=='Ascending'"></i>
                <div>
                    {{sortOrder}}
                </div>
            </div>
        </div>

        <div class="item item-divider">
            Cost for Two
        </div>
        <div class="padding">
            <rzslider
                rz-slider-floor="priceSlider.floor"
                rz-slider-ceil="priceSlider.ceil"
                rz-slider-model="priceSlider.min"
                rz-slider-high="priceSlider.max"
                rz-slider-translate="translate"
                rz-slider-hide-limit-labels="true"
                rz-slider-on-end="sliderLimitChanged()"></rzslider>
        </div>

        <div class="item item-divider">
            Select Offer Platform
        </div>
        <div class="row">
            <div>
                <div class="col">
                    <span ng-repeat="bank in lessBanks" class="padding-3">
                        <i class="item item-checkbox item-inline" ng-click="toggleFilter(bank,'bank',bank.bank_id,true)"
                           ng-class="{'item-dark':getFilterCSS('bank',bank.bank_id)}">
                            {{bank.bank}}
                        </i>
                        </span>
                    <i class="item item-checkbox item-inline" ng-click="toggleAllBanks()"
                       ng-class="{'item-dark':allBanks }">
                        All Banks
                    </i>
                    <i class="item item-checkbox item-inline ion-more ng-hide" ng-click="openBankModal()" ng-show="banks.length > 5 && !allBanks">
                    </i>
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Select Cuisines
        </div>
        <div class="row">
            <div>
                <div class="col">
                    <span ng-repeat="cuisine in lessCuisines" class="padding-3">
                        <i class="item item-inline" ng-click="toggleFilter(cuisine,'cuisine',cuisine.cousine,true)"
                           ng-class="{'item-dark':getFilterCSS('cuisine',cuisine.cousine)}">
                            {{cuisine.cousine}}
                        </i>
                        </span>
                    <i class="item item-checkbox item-inline ion-more ng-hide" ng-click="openCuisineModal()" ng-show="cuisines.length > 5">
                    </i>
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Select Other Filters
        </div>
        <div>
            <div class="col">
                <span class="padding-3">
                        <i class="item item-inline item-icon-left" ng-click="toggleFlagOrSort('hd', 1)"
                           ng-class="{'item-dark':getFlagOrSortCSS('hd', '1')}">
                            <i class="ion-android-home"></i>
                            Home Delivery
                        </i>
                        <i class="item item-inline" ng-click="toggleFlagOrSort('dinein', 1)"
                           ng-class="{'item-dark':getFlagOrSortCSS('dinein', '1')}">
                            <i class="ion-android-restaurant"></i>
                            Dine In
                        </i>
                        <i class="item item-inline" ng-click="toggleFlagOrSort('aircond', 1)"
                           ng-class="{'item-dark':getFlagOrSortCSS('aircond', '1')}">
                            <i class="ion-thermometer"></i>
                            Air Conditioned
                        </i>
                        <i class="item item-inline" ng-click="toggleFlagOrSort('svegnn', 1)"
                           ng-class="{'item-dark':getFlagOrSortCSS('svegnn', '1')}">
                            <i class="ion-leaf"></i>
                            Veg Only
                        </i>
                        <i class="item item-inline" ng-click="toggleFlagOrSort('bar', 1)"
                           ng-class="{'item-dark':getFlagOrSortCSS('bar', '1')}">
                            <i class="ion-wineglass"></i>
                            Bar
                        </i>
                    </span>
            </div>
        </div>
        <div class="text-center padding">
            <button class="button button-dark width-45 ng-hide" ng-show="showApply" ng-click="clearFilters()">CLEAR</button>
            <button class="button button-assertive width-45" ng-click="applyFilters()">APPLY</button>
        </div>

        <!-- Banks Modal -->
        <script id="bank-modal.html" type="text/ng-template">
            <div class="modal">
                <ion-header-bar class="bar-dark">
                    <h1 class="title">Select Banks</h1>
                    <button class="button button-icon button-clear" ng-click="closeBankModal()"><i class="ion-close"></i></button>
                </ion-header-bar>

                <ion-content has-bouncing="false">
                    <div class="bar bar-header item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="Search Banks" ng-model="searchBanks">
                        </label>
                        <button class="button button-clear" ng-click="searchBanks = ''">
                            Clear
                        </button>
                    </div>
                    <ul class="list">
                        <li ng-repeat="bank in banks | filter:searchBanks" class="item item-checkbox checkbox-dark"  ng-click="toggleFilter(bank,'bank',bank.bank_id,true);pushIntoLessBanks(bank);">
                            <label class="checkbox">
                                <input type="checkbox" ng-checked="getFilterCSS('bank',bank.bank_id)">
                            </label>
                            {{bank.bank}}
                        </li>

                    </ul>
                </ion-content>
            </div>
        </script>

        <!-- Cuisines Modal -->
        <script id="cuisines-modal.html" type="text/ng-template">
            <div class="modal">
                <ion-header-bar class="bar-dark">
                    <h1 class="title">Select Cuisines</h1>
                    <button class="button button-icon button-clear" ng-click="closeCuisineModal()"><i class="ion-close"></i></button>
                </ion-header-bar>

                <ion-content has-bouncing="false">
                    <div class="bar bar-header item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="Search Cuisines" ng-model="searchCuisines">
                        </label>
                        <button class="button button-clear" ng-click="searchCuisines = ''">
                            Clear
                        </button>
                    </div>
                    <ul class="list">
                        <li ng-repeat="cuisine in cuisines | filter:searchCuisines" class="item item-checkbox checkbox-dark" ng-click="toggleFilter(cuisine,'cuisine',cuisine.cousine,true); pushIntoLessCuisines(cuisine)">
                            <label class="checkbox">
                                <input type="checkbox" ng-checked="getFilterCSS('cuisine',cuisine.cousine)">
                            </label>
                            {{cuisine.cousine}}
                        </li>

                    </ul>
                </ion-content>
            </div>
        </script>
    </ion-content>
</ion-view>