<ion-view view-title="Happy Hours">
    <ion-content class="has-header" has-bouncing="false">
    <div>
        <div class="ng-hide" ng-show="offersData.length == 0">
            <div class="status-message">{{status}}</div>
        </div>
        <ion-item ng-repeat="data in offersData" href="#/app/client/{{data.clients.clid}}">
            <span class="assertive">{{data.clients.Restaurant_Name}}</span>
            <span class="ng-hide light padding-5 border-curved inline margin-3 float-right"  ng-class="data.rating <= 2 ? 'assertive-bg' : (data.rating <= 3.5 ? 'energized-bg' : 'balanced-bg')" ng-show="data.rating">{{data.rating | number:1}}</span>
            <h3>{{::data.clients.area || 'Unavailable'}}</h3>
            <p>{{::data.clients.address || 'Unavailable'}}</p>
            <p><b>Cost for 2:</b> {{::data.clients.cost  || 'Unavailable'}}</p>
            <p><b>Facilities:</b>
                <i ng-show="data.clients.aircond == 1" class="ng-hide ion-thermometer"> Air Conditioned </i>
                <i ng-show="data.clients.hd == 1" class="ng-hide ion-android-home"> Home Delivery </i>
                <i ng-show="data.clients.dinein == 1" class="ng-hide ion-android-restaurant"> Dine In </i>
                <i ng-show="data.clients.svegnn == 1" class="ng-hide ion-leaf"> Veg Only </i>
                <i ng-show="data.clients.bar == 1" class="ng-hide ion-wineglass"> Bar</i>
            </p>
            <p><b>Available Discounts on Banks:</b><span class="assertive"> {{::data.clients.bank || 'Unavailable'}}</span></p>
            <p><b>Live Offer:</b> {{::data.descrp}}</p>
            <p><b>Start Date/Time: </b> {{::data.sd}}&nbsp;{{::data.stym}}</p>
            <p><b>End Date/Time: </b> {{::data.ed}}&nbsp;{{::data.etym}}</p>
        </ion-item>
    </div>
    </ion-content>
</ion-view>