<ion-view hide-nav-bar="true">
    <ion-content class="home-body" has-bouncing="false" scroll="false">
        <div class="top-logo-banner text-center" style="background-color:#000000">
            <img class="logo-main-large" ng-src="img/login/logo2.png"/>
        </div>
        <div class="container">
            <div class="panel-dark">
                <div class="item item-input rounded-corners">
                    <i class="icon ion-android-restaurant placeholder-icon"></i>
                    <input type="text" class="ion-autocomplete" readonly="readonly" autocomplete="off" ion-autocomplete ng-model="homeFormData.cuisine" items-method="getAutocompleteCuisine(query)" item-value-key="cousine" item-view-value-key="cousine" placeholder="Enter Cuisine" max-selected-items="1" search-items="cuisines"/>
                </div>
                <div class="item item-input margin-vertical-10 rounded-corners">
                    <i class="icon ion-location placeholder-icon"></i>
                    <input type="text" class="ion-autocomplete" ion-autocomplete ng-model="searchFactory.formData.searchString" items-method="getAutocompleteClientArea(query)" item-value-key="Restaurant_Name" item-view-value-key="Restaurant_Name" placeholder="Restaurant / Area" template-url="templates/autocomplete-home.html" max-selected-items="1"/>
                </div>
                <div class="item item-input rounded-corners">
                    <i class="icon ion-pricetag placeholder-icon"></i>
                    <input type="text" class="ion-autocomplete" readonly="readonly" autocomplete="off" ng-class="{'hide-input': hideInput,'show-input': !hideInput}"
                           ion-autocomplete
                           ng-model="homeFormData.bank"
                           items-method="getAutocompleteBanks(query)"
                           item-value-key="bank"
                           items-clicked-method="autocompleteBankSelected(callback)"
                           items-removed-method="autocompleteBankSelected(callback)"
                           item-view-value-key="bank"
                           placeholder="Select Offer Platform"
                           search-items="banks"
                           model-to-item-method="modelToItemMethod(modelValue)"
                           external-model="preselectedSearchItems"
                           template-url="templates/autocomplete-bank.html"
                           items-clicked-method="autocompleteBankSelected(callback)"/>
                </div>
                <div class="margin-vertical-10">
                    <button class="button button-block button-dark rounded-corners" ng-click="searchRestaurants()">Find a Restaurant</button>
                    <button class="button button-block button-dark rounded-corners" ng-click="offersAroundYou()">Offers around you</button>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark item-input-inset" ng-click=goToCities()>
        <h1 class="title">
            <i class="icon ion-navigate"></i>
            <a>{{getCurrentCity()}}</a>
        </h1>
    </ion-footer-bar>
</ion-view>