<ion-view view-title="Login">
  <ion-content class="login-body" has-bouncing="false">
    <div class="row row-top text-center">
      <div class="col padding">
        <img class="logo-main-large" ng-src="img/login/logo.png"/>
      </div>
    </div>
  </ion-content>
  <div class="row-bottom fixed-outside dark-transparent">
    <div>
      <h4 class="light">{{::signUpTitle}}</h4>
      <p class="light">{{::signUpSubtitle}}</p>
    </div>
    <div class="padding">
      <img class="button-social" ng-src="img/login/fb.png" ng-click="loginFacebook()">
      <img class="button-social" ng-src="img/login/g+.png" ng-click="loginGplus()">
    </div>
    <div class="button-bar dark-transparent">
      <a class="button light dark-transparent" ui-sref="app.signin">
        LOGIN
      </a>
      <a class="button light dark-transparent" ui-sref="app.register">
        SIGN UP
      </a>
    </div>
  </div>
</ion-view>
