<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="true">
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <img src="img/logo/logo-header.png" width="30px" height="30px" class="logo-header"/>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Brewfer</h1>
        </ion-header-bar>
        <ion-content has-bouncing="false">
            <ion-list>
                <!-- Avatar -->
                <div class="item item-avatar" href="#" ng-if="guestMode == 'false'" ng-click="openProfilePageModal()">
                    <img ng-src="{{getProfilePic()}}">
                    <h2>{{getUserName()}}</h2>
                    <p>{{getEmail()}}</p>
                </div>
                <ion-item nav-clear menu-close ng-click="openLogin()" ng-if="guestMode == 'true'">
                    <i class="ion-search icon float-right"></i> Login
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openHome()">
                    <i class="ion-edit icon float-right"></i> Home
                </ion-item>
                <!-- Favourites -->
                <ion-item nav-clear menu-close ng-click="openFavouriteModal();  listFavourite()" ng-if="guestMode == 'false'">
                    <i class="ion-heart icon float-right"></i> Favourites
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openSearch()">
                    <i class="ion-search icon float-right"></i> Search
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openFeedbackModal()" ng-if="guestMode == 'false'">
                    <i class="ion-edit icon float-right"></i> Feedback
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openAboutModal()">
                    <i class="ion-information-circled icon float-right"></i> About Us
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openTermsModal()">
                    <i class="ion-clipboard icon float-right"></i> Terms & Conditions
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()" ng-if="guestMode == 'false'">
                    <i class="ion-android-exit icon float-right"></i> Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
