<ion-view view-title="Offers Around You">
    <ion-content has-bouncing="false">
        <div>
            <div class="status-message" ng-if="status != '' && status != undefined">{{status}}</div>
            <a class="item item-text-wrap" ng-repeat="data in offersAroundYou" ng-href="#/app/client/{{::data.clid}}">
                {{searchString}}
                <span class="assertive header-alt">{{::data.Restaurant_Name}}</span>
                <span class="ng-hide light padding-5 border-curved inline margin-3 float-right"  ng-class="data.avgrating <= 2 ? 'assertive-bg' : (data.avgrating <= 3.5 ? 'energized-bg' : 'balanced-bg')" ng-show="data.avgrating">{{data.avgrating | number:1}}</span>
                <span class="ng-hide float-right padding-5" ng-show="data.distance">{{::data.distance | number:2}} km</span>
                <h3>{{::data.area || 'Unavailable'}}</h3>
                <p>{{::data.address || 'Unavailable'}}</p>
                <p><b>Cost for 2:</b> {{::data.cost  || 'Unavailable'}}</p>
                <p><b>Cuisine:</b> {{::data.cuisine  || 'Unavailable'}}</p>
                <p><b>Facilities:</b>
                    <i ng-show="data.aircond == 1" class="ion-thermometer ng-hide"> Air Conditioned </i>
                    <i ng-show="data.hd == 1" class="ion-android-home ng-hide"> Home Delivery </i>
                    <i ng-show="data.dinein == 1" class="ion-android-restaurant ng-hide"> Dine In </i>
                    <i ng-show="data.svegnn == 1" class="ion-leaf ng-hide"> Veg Only </i>
                    <i ng-show="data.bar == 1" class="ion-wineglass ng-hide"> Bar</i>
                </p>
                <p><b>Available Offers:</b><span class="assertive font-alt" ng-repeat="discount in splitString(data.discounts)"><br/>{{ ::discount }}</span></p>
            </a>
        </div>
    </ion-content>
</ion-view>