<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Profile</h1>
        <button class="button button-icon button-clear" ng-click="closeProfilePageModal()"><i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false" class="padding">
        <div class="list card">
            <div class="item text-center">
                <img ng-src="{{getProfilePic()}}" class="avatar padding"/>
                <input type="text" ng-model="profileFormData.username" class="text-center margin-horizontal-auto width-200" ng-change="formChanged()"/>
                <p>{{getEmail()}}</p>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contact Number</span>
                <input type="text" ng-model="profileFormData.mobileNumber" placeholder="Your contact number" ng-change="formChanged()" maxlength="10">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">About Me</span>
                <textarea ng-change="formChanged()" rows="5" ng-model="profileFormData.aboutMe" placeholder="Tell us something about you" maxlength="500"/>
            </label>
        </div>
        <div class="button button-block button-assertive" ng-show="showSave" ng-click="saveProfileData()">
            Save
        </div>
    </ion-content>
</ion-modal-view>