<ion-view view-title="Register">
    <ion-content class="login-background" has-bouncing="false">
        <div>
            <div class="container">
                <div class="panel-light">
                    <div class="text-center margin-horizontal-auto">
                        <img class="logo-main" ng-src="img/login/logo.png" />
                    </div>
                    <form name="formData.signupForm" ng-submit="register()" novalidate="novalidate">
                        <label class="item item-input rounded-corners">
                            <i class="icon ion-ios-email-outline placeholder-icon"></i>
                            <input name="username" type="text" ng-model="formData.username"
                                   ng-minlength=3 ng-maxlength=20 placeholder="Username" required>
                        </label>
                        <label class="item item-input rounded-corners margin-vertical-10">
                            <i class="icon ion-ios-email-outline placeholder-icon"></i>
                            <input name="email" type="email" ng-model="formData.email" placeholder="Email" required>
                        </label>
                        <label class="item item-input rounded-corners">
                            <i class="icon ion-key placeholder-icon"></i>
                            <input name="password" type="password" ng-model="formData.password" ng-minlength=6
                                   ng-maxlength=20 placeholder="Password" required>
                        </label>
                        <button type="submit" class="button button-block button-dark rounded-corners margin-vertical-10">Sign Up</button>
                    </form>
                </div>
    </ion-content>
</ion-view>