<ion-view view-title="Reset Password">
    <ion-content class="login-background" has-bouncing="false">
        <div class="container">
            <div class="panel-light">
                <img class="logo-main" ng-src="img/login/logo.png"/>
                    <label class="item item-input rounded-corners">
                        <i class="icon ion-ios-email-outline placeholder-icon"></i>
                        <input type="email" ng-model="formData.email" placeholder="Email">
                    </label>
                    <button class="button button-block button-dark rounded-corners" ng-click="forgotPassword()">Reset Password</button>
            </div>
        </div>

        </div>
    </ion-content>
</ion-view>
