<ion-view view-title="Review">
    <ion-content ng-show="reviewLoaded" has-bouncing="false" class="ng-hide">
        <div>
            <div class="list card">
                 <div class="item item-avatar item-text-wrap">
                    <img ng-src="{{reviewData[0].user.uimg || 'img/common/no-pic.jpg'}}">
                    <h2>{{reviewData[0].user.name}}</h2>
                    <p>{{reviewData[0].review}}</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        {{reviewData[0].comments.length}}
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-heart"></i>
                        {{reviewData[0].likes.length}}
                    </a>
                </div>

            </div>
            <div class="status-message" ng-if="reviewData[0].status==0">{{notApprovedReviewStatus}}</div>
            <div ng-if="reviewData[0].status==1">
                <div class="status-message">{{commentStatus}}</div>
                <div class="padding-horizontal"><label class="item item-input">
                <textarea rows="4" placeholder="Enter Comment" ng-model="commentData.comment" required></textarea>
                </label>
                </div>
                <div class="text-center padding">
                    <i class="item item-inline padding item-dark width-45 ng-hide" ng-click="postComment()" ng-show="!editingMode">
                        <i class="ion-chatbox"></i>
                        Comment
                    </i>
                    <i class="item item-inline padding item-dark width-45 ng-hide" ng-click="putComment()" ng-show="editingMode">
                        <i class="ion-edit"></i>
                        Edit
                    </i>
                    <i class="item item-inline item-assertive padding width-45 ng-hide" ng-click="toggleEdit()" ng-show="editingMode">
                        <i class="ion-android-cancel"></i>
                        Cancel
                    </i>
                </div>
                <div class="item item-divider">
                    Comments
                </div>
                <div class="list">
                    <div ng-repeat="comment in reviewData[0].comments">
                        <div class="item item-avatar item-text-wrap">
                            <img ng-src="{{comment.user.uimg || 'img/common/no-pic.jpg'}}">
                            <h2>{{comment.user.name}}</h2>
                            <p>{{comment.comment}}</p>
                            <i class="item item-inline item-light" ng-click="toggleLike(comment)">
                                <i class="ion-thumbsup"></i> {{comment.likeStatus}}
                            </i>
                            <i class="item item-inline item-light">
                                <i class="ion-heart"></i> {{comment.likeCount}}
                            </i>
                            <i class="item item-inline item-dark padding ng-hide" ng-show="comment.hasComment" ng-click="toggleEdit(comment.comment, comment.id)">
                                <i class="ion-edit"></i>
                            </i>
                            <i class="item item-inline item-assertive padding ng-hide" ng-show="comment.hasComment" ng-click="deleteComment(comment.id)">
                                <i class="ion-android-delete"></i>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>