<ion-view view-title="Search">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" class="ion-autocomplete" ion-autocomplete ng-model="searchFactory.formData.searchString" items-method="getAutocompleteItems(query)" item-value-key="Restaurant_Name" item-view-value-key="Restaurant_Name" placeholder="Search Restaurant or Locality" items-clicked-method="autocompleteClicked(callback)" template-url="templates/autocomplete.html" max-selected-items="1"/>
            </label>
            <div><a class="button button-assertive  button-clear ion-funnel" href="#/app/filter">Filter</a></div>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="card ng-hide" ng-show="showLiveOffers">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/liveOffer">
                    <i class="icon ion-eye"></i> View Live Offers
                </a>
                <a class="tab-item" href="#/app/happyHour">
                    <i class="icon ion-happy"></i> View Happy Hours
                </a>
            </div>
        </div>
        <div>
            <div class="status-message" ng-if="status != '' && status != undefined">{{status}}</div>
            <a class="item item-text-wrap" ng-repeat="data in searchFactory.searchData" ng-href="#/app/client/{{::data.clid}}">
                {{searchString}}
                <span class="assertive header-alt">{{::data.Restaurant_Name}}</span>
                <span class="ng-hide light padding-5 border-curved inline margin-3 float-right"  ng-class="data.avgrating <= 2 ? 'assertive-bg' : (data.avgrating <= 3.5 ? 'energized-bg' : 'balanced-bg')" ng-show="data.avgrating">{{::data.avgrating | number:1}}</span>
                <h3>{{::data.area || 'Unavailable'}}</h3>
                <p>{{::data.address || 'Unavailable'}}</p>
                <p><b>Cost for 2:</b> {{::data.cost  || 'Unavailable'}}</p>
                <p><b>Cuisine:</b> {{::data.cuisine  || 'Unavailable'}}</p>
                <p><b>Facilities:</b>
                    <i ng-show="data.aircond == 1" class="ion-thermometer ng-hide"> Air Conditioned </i>
                    <i ng-show="data.hd == 1" class="ion-android-home ng-hide"> Home Delivery </i>
                    <i ng-show="data.dinein == 1" class="ion-android-restaurant ng-hide"> Dine In </i>
                    <i ng-show="data.svegnn == 1" class="ion-leaf ng-hide"> Veg Only </i>
                    <i ng-show="data.bar == 1" class="ion-wineglass ng-hide"> Bar</i>
                </p>
                <p><b>Offer Platform:</b><span class="assertive font-alt" ng-repeat="discount in splitString(data.discounts)"><br/>{{ ::discount }}</span></p>
            </a>
            <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark item-input-inset" ng-click="goToCities()">
            <h1 class="title">
                <i class="icon ion-navigate"></i>
                <a>{{city}}</a>
            </h1>
    </ion-footer-bar>
</ion-view>