<ion-view view-title="Sign In">
    <ion-content class="login-background" has-bouncing="false">
        <div>
            <div class="container">
                <div class="panel-light">
                    <div class="text-center margin-horizontal-auto">
                        <img class="logo-main" ng-src="img/login/logo.png" />
                    </div>
                    <label class="item item-input rounded-corners">
                        <i class="icon ion-ios-email-outline placeholder-icon"></i>
                        <input type="email" ng-model="formData.email" placeholder="Email">
                    </label>
                    <label class="item item-input margin-vertical-10 rounded-corners">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" ng-model="formData.password" placeholder="Password">
                    </label>

                    <div class="text-center">
                        <button class="button button-block button-dark rounded-corners" ng-click="login()">Login
                        </button>
                        <a class="dark" ui-sref="app.resetpassword">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>