<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Terms & Conditions</h1>
        <button class="button button-icon button-clear" ng-click="closeTermsModal()"><i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div>
            <div class="text-center">
                <img class="logo-main" ng-src="img/login/logo.png" />
            </div>
            <div class="item item-text-wrap text-center">
                <strong>Terms & Conditions</strong>
            </div>
            <div class="item item-text-wrap">
                    Welcome to <a href="http://brewfer.com/" onclick="window.open(this.href,'_system'); return false;"> www.brewfer.com </a>. By browsing and using this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Alliances Galore Pvt. Ltd.'s relationship with you in relation to this website. The term 'Alliances Galore Pvt. Ltd.' or 'us' or 'we' refers to the owner of the website, Alliances Galore Pvt. Ltd., a company incorporated under the Indian Companies Act 1956. The term 'you' refers to the user or viewer of our website. The use of this website is subject to the following terms of use:
                <ul>
                    <li> The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                    <li> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. You may wish to send us the information on the inaccuracies and we would after appropriate checks ensure the corrective action is taken.</li>
                    <li> Your use of any information or materials from this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
                    <li> This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                    <li> All trade-marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
                    <li> Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
                    <li> From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
                    <li> You may not create a link to this website from another website or document without Alliances Galore Pvt. Ltd's prior written consent.</li>
                    <li> Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authorities in India.</li>
                    <li>We as a merchant and legal entity shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the usage, decline of payment or anything related to the transaction done on the website, the acceptance or decline of any payment for whatsoever reason is on the terms and conditions set out by the Bank and under no circumstances do we stand or shall be liable for any claim or damage for such decline or non-acceptance. Such issues would need to be resolved between the cardholder and his or her merchant bank and arrive at a mutually agreeable solution. </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-modal-view>