@font-face {
    font-family: 'Dosis';
    src: url('../lib/ionic/fonts/DosisSemiBold.eot');
    src: url('../lib/ionic/fonts/DosisSemiBold.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/DosisSemiBold.woff2') format('woff2'),
         url('../lib/ionic/fonts/DosisSemiBold.woff') format('woff'),
         url('../lib/ionic/fonts/DosisSemiBold.ttf') format('truetype'),
         url('../lib/ionic/fonts/DosisSemiBold.svg#DosisSemiBold') format('svg');
}
