
.login-body {
    background-image: url('../img/login/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-body {
    background-image: url('../img/search/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.top-logo-banner {
    background-color:white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.grid-image {
    width:100%;
    height:110px;
    border-radius: 5px;
}

.logo-main {
    width:175px;
    height:100px;
}

.logo-main-large {
    width:250px;
    height:150px;
}

ul.rating li i {
    display:inline;
    font-size: 30px;
    color:gold;
    text-shadow: 0 0 2px #000;
}

.avatar {
    width:100px;
    height:100px;
    border-radius: 100px;
}

.margin-horizontal-auto {
    margin: 0 auto;
}
.width-200 {
    width: 200px;
}
ul {
    list-style-type: disc;
    margin: 10px;
}

.banner-box-small {
    position:relative;
    width:100%;
    height: 100px;
    overflow: hidden;
}

.width-45 {
    width:45%;
}

.status-message {
    padding:10px;
    text-align:center;
}

.autocomplete-area {
    color: #b2b2b2;
}

.logo-header {
    margin: 2px 5px 8px 0px;
}

.banner-image-blurred-small {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    margin: -5px -10px -10px -5px;
}



.banner-bar {
    border-radius:10px !important;
}

.banner-text {
    position:absolute;
    top:30%;
    width: 100%;
    text-align: center;
}

.banner-title {
    color:white;
    font-size:20px;
}

.banner-subtitle {
    color:white;
    font-size:15px;
    margin:3px
}

.icon-top .icon{ display: block;margin: 0 auto;height: 32px;font-size: 32px;}

.button-social {
    width:175px;
    height:30px;
}

.icon-medium {
    font-size:30px
}
.icon-large {
    font-size:50px
}


.border-curved {
    border-radius:4px;
}

.icon-flag {
    font-size:10px
}

.icon-sort-active {
    color: #721F78;
}

.item-inline {
    display:inline-block;
    border-radius:10px;
    padding: 6px;
    margin: 1px
}

.padding-3 {
    padding: 3px
}

.padding-5 {
    padding: 5px
}

.margin-3 {
    margin: 3px
}

.margin-5 {
    margin: 5px
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    text-align:center;
}

.float-left {
    float: left
}

.float-right {
    float: right
}


.dark-transparent {
    /*background-color: rgba(0, 0, 0, 0.7); */
    background-color: black;
    opacity:0.875;
}

.image-menu {
    height:75px;
    width:75px;
    display:inline-block;
    margin: 5px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.image-more {
    font-size:35px;
    margin:15px
}

.text-header {
    font-size: x-large;

}
.icon-vertical-middle {
    vertical-align: middle;
}

.platform-android .form-middle-android {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.platform-ios .form-middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-background {
    background-image: url('../img/common/wood-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-background {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../img/client/banner-new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-body {
    background-image: url('../img/login/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}

.dark-transparent-more {
    /*background-color: rgba(0, 0, 0, 0.7); */
    background-color: black;
    opacity:0.65;
    color:white;
    border: black;      
    border-radius: 10px; 
    font-size: 25px;
    width:175px;
    height:40px;
}

.font-white {
    color:white !important;
}

/* Photo Slider */

.light-transparent {
    /*background-color: rgba(0, 0, 0, 0.7); */
    background-color: black;
    opacity:0.875;
    color:white;
    border-radius: 15px;
}

.border-curved {
    border-radius:4px;
}

.margin-horizontal-auto {
    margin-left:auto; !important;
    margin-right:auto; !important;
}

.width-100 {
    width:100%
}

.textarea-large {
    height:150px;
}

.form-medium {
    width:300px
}
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}


.search-component{
    width:400px;;
    border: 1px solid #ccc;
    border-radius:4px;
    padding:0px 10px;
}

.search-component input{
    width:90%;
}

.header-alt {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.font-alt {
    font-family: 'Dosis', sans-serif;
}

rzslider span.rz-bar.rz-selection {
    background:#ef473a;
}
rzslider span.rz-pointer {
    background:#ef473a;
}

rzslider span.rz-pointer.rz-active:after {
    background-color: #444;
}

.angular-google-map-container
{
    height: 200px;
}

.panel-light {
    margin:50px;
    background-color: rgba(255, 255, 255, 0.6);
    padding:20px;
    border-radius: 20px;
}
.panel-dark {
    margin:50px;
    background-color: rgba(65, 61, 61, 0.7);
    padding:20px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


.margin-vertical-10 {
    margin: 10px 0 10px 0;
}

.slider {
    width: 100%;
    height: 100%;
}

p.info {
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}

/* City List CSS */
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.bank {
    padding: 6px;
    border-radius: 5px;
    background: #000;
    color: white;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.rounded-corners {
    border-radius: 10px;
}

.text-small {
    font-size:10px
}

.hide-input {
    visibility: hidden;
}
.show-input {
    visibility: visible;
}